{% extends 'base.html' %}

{% block head %}
<title>List of People</title>
{% endblock %}
{%block body%} 
<div class="content">
    <h1 style="text-align: center">Stats</h1>
    <h2>First name of all people who are at all locations</h2>
    <table>
        <tr>
            <th>First Name</th>
        </tr>
        {% for person in post %}
            <tr>
                <td>{{ person[0]}}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Total number of appointments across all locations</h2>
    <table>
        <tr>
            <th>Number of Appointments</th>
        </tr>
        <tr>
            <td>{{ count[0] }}</td>
        </tr>
    </table>
</div>
{%endblock%}
