{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update</h1>

    <div class="form">
        <form action="/updateAppointment/{{appointment.0}}" method="POST">
            <input type="text" name="name" placeholder="Name of gym member" id="content"><br>
            <input type="text" name="branch" placeholder="Branch" id="content"><br>
              <br>
            <input type="date" id="start" name="date" value="2022-01-21" min="2021-01-21">

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}