{% extends 'base.html' %}

{% block title %}All Appointments{% endblock %}

{% block content %}
<div class="content">
    <h1 style="text-align: center">List of Booked Appointments</h1>

    <table>
        <tr>
            <th>Gym Member</th>
            <th>Branch</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment[1]}}</td>
                <td>{{ appointment[2]}}</td>
                <td>{{ appointment[3]}}</td>
                <td>
                    <a href="/deleteAppointment/{{appointment.0}}">Delete</a>
                    <br>
                    <a href="/updateAppointment/{{appointment.0}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="form">
        <form action="/allAppointments" method="POST">
            <input type="text" name="name" placeholder="Name of gym member" id="content"><br>
            <input type="text" name="branch" placeholder="Branch" id="content"><br>
              <br>
            <input type="date" id="start" name="date" value="2022-01-21" min="2021-01-21">

            <input type="submit" value="Submit">
        </form>
    </div>

   
</div>
{% endblock %}