{% extends 'base.html' %}

{% block title %}Book an Appointment{% endblock %}

{% block content %}
<h1>Book an Appointment</h1>

    <div class="form">
        <form action="/bookAppointment/{{val}}" method="POST">
            <input type="text" name="name" placeholder="Name of gym member" id="content"><br>
            <input type="text" name="branch" placeholder="Branch" id="content"><br>
              <br>
            <input type="date" id="start" name="date" value="2022-01-21" min="2021-01-21">

            <input type="submit" value="Submit">
        </form>
    </div>

   
{% endblock %}