{% extends 'base.html' %}

{% block title %}Gym Statistics{% endblock %}
{% block content %}
<div class="content">
    <h1 style="text-align: center">Stats</h1>
    <h2>First name of all people who are at all locations</h2>
    <table>
        <tr>
            <th>First Name</th>
        </tr>
        {% for person in post %}
            <tr>
                <td>{{ person[0]}}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Total number of appointments across all locations</h2>
    <table>
        <tr>
            <th>Number of Appointments</th>
        </tr>
        <tr>
            <td>{{ count[0] }}</td>
        </tr>
    </table>
    <h2>People and their assocciated Subscription</h2>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th>Location</th>
            <th>Price</th>
            <th>Term Length</th>
            <th>Renewal Date</th>
        </tr>
        {% for person in people %}
            <tr>
                <td>{{ person[0] }}</td>
                <td>{{ person[1] }}</td>
                <td>{{ person[2] }}</td>
                <td>{{ person[3] }}</td>
                <td>{{ person[4] }}</td>
                <td>{{ person[5] }}</td>
                <td>{{ person[6] }}</td>
            </tr>
        {%endfor%}
    </table>
    <h2>How many people have subscribed to each tier of subscription</h2>
    <table>
        <tr>
            <th>Sub ID</th>
            <th>Number of subscribers</th>
        </tr>
        {% for sub in subs %}
            <tr>
                <td>{{ sub[0] }}</td>
                <td>{{ sub[1] }}</td>
            </tr>
        {%endfor%}
    </table>
    <br>
</div>
{%endblock%}
