{% extends 'base.html' %}

{% block title %}Gym Statistics{% endblock %}
{% block content %}
<div class="content">
    <h1 style="text-align: center">Stats</h1>
    <h2>First name of all people who are at all locations</h2>
    <table>
        <tr>
            <th>First Name</th>
        </tr>
        {% for person in post %}
            <tr>
                <td>{{ person[0]}}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Count how many rows are in a table</h2>
    <table>
        <tr>
            <th>Number of Rows</th>
        </tr>
        <tr>
            {% if count is defined %}<td>{{ count[0] }}</td> {% endif %}
        </tr>
    </table>
    <div class="form">
        <form action="/stats" method="POST">
            <input type="text" name="table_name" placeholder="Table Name" id="content"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <h2>Display all rows in a table</h2>
    <table>
        <tr>
            {% if colNames != None %}
                {% for col in colNames %}
                    <th>{{col[0]}}</th>
                {% endfor %}
            {% endif %}
        </tr>
        {% if table != None %}
            {% for row in table %}
                <tr>
                {% for col in row %}
                    <td>{{col}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}            
    </table>
    <div class="form">
        <form action="/stats" method="POST">
            <input type="text" name="table" placeholder="Table Name" id="content"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <h2>Select a row from a table</h2>
    <table>
        <tr>
            {% if colName is defined %}<th>{{ colName }}</th> {% endif %}
        </tr>
        {% if cols != None %} 
            {% for col in cols %}
                <tr><td>{{col[0]}}</td></tr>
            {% endfor %}
        {% endif %}
    </table>
    <div class="form">
        <form action="/stats" method="POST">
            <input type="text" name="tableName" placeholder="Table Name" id="content"><br>
            <input type="text" name="column_name" placeholder="Table Name" id="content"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <h2>People and their assocciated Subscription</h2>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th>Location</th>
            <th>Price</th>
            <th>Term Length</th>
            <th>Renewal Date</th>
        </tr>
        {% for person in people %}
            <tr>
                <td>{{ person[0] }}</td>
                <td>{{ person[1] }}</td>
                <td>{{ person[2] }}</td>
                <td>{{ person[3] }}</td>
                <td>{{ person[4] }}</td>
                <td>{{ person[5] }}</td>
                <td>{{ person[6] }}</td>
            </tr>
        {%endfor%}
    </table>
    <h2>How many people have subscribed to each tier of subscription</h2>
    <table>
        <tr>
            <th>Sub ID</th>
            <th>Number of subscribers</th>
        </tr>
        {% for sub in subs %}
            <tr>
                <td>{{ sub[0] }}</td>
                <td>{{ sub[1] }}</td>
            </tr>
        {%endfor%}
    </table>
    <br>
</div>
{%endblock%}
